[submodule "src/fron-end/a-la-romana-ui"]
	path = src/fron-end/a-la-romana-ui
	url = https://github.com/Kalimaha/a-la-romana-ui.git
[submodule "src/front-end/a-la-romana-ui"]
	path = src/front-end/a-la-romana-ui
	url = https://github.com/Kalimaha/a-la-romana-ui.git
